@model SitkonWeb.Models.CustomerModel
@{
    ViewBag.Title = "Validate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmar datos personales</h2>
@using (Html.BeginForm("Score", "Home"))
{
<form>
    @if (Model.TipoCliente == 1)
    {
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Sexo</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Sexo, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Edad</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Edad, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    }
    else
    {
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Razon Social</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.RazonSocial, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

    }
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">CIUT/ DNI</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Cuit, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <br />
    <input type="button" class="btn btn-danger" value="Volver" onclick="location.href='@Url.Action("Index", "Home")'" />
    <button type="submit" class="btn btn-primary">Confirmar</button>
</form>

}